@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
    a{
        text-decoration: none;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}
:root{
    --green: #00d6b4;
    --font-incon:'Inconsolata', monospace;
}

body{
    background-color: #222;
    font-family: Lato, sans-serif;   
}

.hero{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.57), #222), url(../images/bg.jpg);
    background-position: 0px 0px, 38% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    position: relative;
    nav{
        width: 100%;
        height: 80px;
        padding-top: 28px;

        .header{
            width: 90%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;

            .logo{
                padding: 15px;
                font-size: 24px;
                font-family: Lato, sans-serif;           
            }

            ul{
                line-height: 80px;
                .p-20{
                    padding: 20px;
                }
                .pl-20{
                    padding-left: 20px;
                }
                li{ 
                    display: inline-block;
                }
            }

            .nav-link ul li a{
                font-size: 11px;
                font-family: Lato, sans-serif;
                letter-spacing: 2px;
            }

            .active{
                color: var(--green);
            }
        }
    }
    .main-title{
        width: 100%;
        min-height: 650px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        .title{ 
            max-width: 400px;
            text-align: center;
            span{
                font-size: 32px;
                padding: 10px;
                font-family: var(--font-incon);
                .name{
                    color: #00d6b4;
                }
                i{
                    font-size: 15px;
                }
            }
        }
    }

}

.section2{
    height: 100vh;
    width: 100%;
    background-color: #222;
    .grid{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .box-left{
            width: 100%;
            height: 100%;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            .desc{
                width: 100%;
                height: 100%;
                background-color: #222;
                
                h1{
                    font-family: var(--font-incon);
                    font-size: 50px;
                    margin-bottom: 50px;
                    position: relative;
                    color: #c2bcbc;
                }
                h1::before{
                    content: '';
                    width: 40%;
                    position: absolute;
                    height: 2px;
                    bottom: -15px;
                    background-color: #535151;
                }
                .desc-box{
                    padding: 50px;
                    font-family: var(--font-incon);
                    letter-spacing: 1px;
                    font-size: 17px;
                    line-height: 35px;
                    position: relative;
                    .quotes{
                        padding-top: 150px;
                        margin: 0 auto;
                        width: 100%;
                        text-align: right;
                        font-size: 33px;
                        .hightlight{
                            color: #e08216;
                        }
                    }
                }
            }
        }
        .box-right{
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            height: 100%;
            background-color: #242323;
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            .me-img{ 
                
                img{
                    width: 100%;
                  
                    object-fit: cover;
                }
            }
        }
    }
}


.section3{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: #222;
    position: relative;

    .grid{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 100%;
        .box1{
            padding: 50px;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            height: 100%;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            .fab{
                font-size: 100px;
            }
            .item{
                text-align: center;
            }
        }
        .box2{
            width: 100%;
            height: 100%;
            padding: 50px;
            h1{
                font-family: var(--font-incon);
                font-size: 50px;
                margin-bottom: 50px;
                position: relative;
                color: #dfd2d2;
            }
            h1::before{
                content: '';
                width: 40%;
                position: absolute;
                height: 2px;
                bottom: -15px;
                background-color: #535151;
            }

        }
    }
}

// color of icons 
.fa-html5{
    color: #e09034;
}
.fa-sass{
    color: #dd4fc5;
}
.fa-js-square{
    color: #e7db30;
}
.fa-react{
    color: #207da1;
}
.fa-angular{
    color: #d31c1c;
}
.fa-php{
    color: #171150;
}



// footer
.footer-basic {
    padding:40px 0;
    background-color:#222;
    color:#4b4c4d;
    margin-top: 50px;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    color:#aaa;
    margin-bottom:0;    
    font-size: 20px;
    font-family: var(--font-incon);
    span{
        margin-right: 10px;
    }
    a{
        color: #00d6b4;
    
    }
  }